body{
	font-family: arial, helvetica;
	background: 
}

.menu{
	list-style: none;
	padding: 0;
	background: #990000;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

section {
min-height: 09vh;
display: flex;
align-items: center;
}
.buscatex {
display: flex;
left:50%
top:50%;
background: #fff;
padding: 9px 326px 9px 26px;
border-radius: 00px;
border: 2px solid #cad3dc;
box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
rgba(0, 0, 8, 0.1) 10px 10px 10px,
rgba (255, 255, 255, 0.5) -8px -8px 15px inset,
rgba (0, 0, 0, 0.1) 10px 10px 10px inset;
}

.buscatex{
display flex;
justify-content: center;
align-items: center;
position: absolute;
left: 18%;
top: 22%

}

section {
min-height: 09vh;
display: flex;
align-items: center;
}
.buscatex_2{
display: flex;
left:50%
top:50%;
background: #fff;
padding: 9px 326px 9px 26px;
border-radius: 00px;
border: 2px solid #cad3dc;
box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
rgba(0, 0, 8, 0.1) 10px 10px 10px,
rgba (255, 255, 255, 0.5) -8px -8px 15px inset,
rgba (0, 0, 0, 0.1) 10px 10px 10px inset;
}

.buscatex_2{
display flex;
justify-content: center;
align-items: center;
position: absolute;
left: 18%;
top: 30.5%;

}
form input {
border: none;
background: transparent;

}

section {
min-height: 09vh;
display: flex;
align-items: center;
}
.buscatex3{
display: flex;
left:50%
top:50%;
background: #fff;
padding: 9px 326px 9px 26px;
border-radius: 00px;
border: 2px solid #cad3dc;
box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
rgba(0, 0, 8, 0.1) 10px 10px 10px,
rgba (255, 255, 255, 0.5) -8px -8px 15px inset,
rgba (0, 0, 0, 0.1) 10px 10px 10px inset;
}

.buscatex3{
display flex;
justify-content: center;
align-items: center;
position: absolute;
left: 18%;
top: 39.5%

}
form input {
border: none;
background: transparent;

}


.avanzado{
display: block;
width: 133px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
background-color:rgb(126, 206, 255);
border-radius:500px;
padding: 01px 25px;
margin: 01px 680px;
color:#fff;



}


